@import '../../styles/base.scss';

.searchFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    margin-bottom: 5%;
    width: 75%;
}

.container {

    .cardContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;

    }
}